* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: rgb(88,9,121);
    background: linear-gradient(90deg, rgba(88,9,121,1) 0%, rgba(72,0,255,1) 100%);
    color: rgb(102, 102, 102);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    border-bottom: 2px solid rgb(43, 96, 243);
    display: inline-block;
    margin-bottom: 60px;
    letter-spacing: 2px;
}

.btn {
    border: none;
    background-color: rgb(43, 96, 243);
    opacity: 0.9;
    transition: opacity ease 0.3s;
    color: #fff;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.feedback {
    width: 450px;
    background-color: rgb(250, 250, 250);
    padding: 50px 30px;
    box-sizing: content-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.feedback__item {
    margin-bottom: 40px;
    position: relative;
}

.feedback__label {
    opacity: 0.7;
    font-size: 1.1em;
    position: absolute;
    transition: ease all 0.3s;
    top: 3px;
    left: 2px;
    pointer-events: none;
}

.feedback__error {
    color: rgb(238, 70, 70);
    display: block;
    height: 0.8em;
    font-size: 0.8em;
    visibility: hidden;
}

.error .feedback__error {
    visibility: visible;
}

.feedback__icon {
    width: 42px;
    height: 42px;
    position: absolute;
    top: -10px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.feedback__icon svg {
    max-width: 22px;
    fill: rgb(102, 102, 102);
    transition: ease 0.3s;
}

.feedback__icon.active svg {
    fill: rgb(43, 96, 243) !important;
} 

.feedback__input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(102, 102, 102);
    padding: 2px 35px 2px 2px;
    width: 100%;
    font-size: 1.2em;
    color: rgb(102, 102, 102);
    transition: ease 0.3s;
}

.error .feedback__input {
    border-bottom: 1px solid rgb(238, 70, 70);
}

.error .feedback__label {
    color: rgb(238, 70, 70);
}

.error .feedback__icon svg {
    fill: rgb(238, 70, 70);
}


.feedback__input:focus {
    border-bottom: 1px solid rgb(43, 96, 243);
}

.feedback__input.active + .feedback__label,
.feedback__dp-button.active + .feedback__label {
    opacity: 1;
    color: rgb(102, 102, 102);
    font-size: 0.8em;
    top: -15px;
    left: 2px;
}

.feedback__dp-button {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(102, 102, 102);
    width: 100%;
    height: 28px;
    cursor: text;
    color: rgb(102, 102, 102);
    text-align: left;
    font-size: 1.2em;
    transition: ease 0.3s;
}

.datepicker {
    position: absolute;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.1);
    width: 100%;
    top: 25px;
    z-index: 10;
    display: none;
}

.datepicker.active {
    display: block;
}

.datepicker__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(43, 96, 243);
    color: #fff;
}

.datepicker__prev, .datepicker__next {
    width: 25px;
    height: 25px;
    padding: 3px;
    cursor: pointer;
    transition: ease 0.1s;
    border-radius: 50%;
}

.datepicker__prev:hover, .datepicker__next:hover {
    background-color: #fff;
    color: rgb(102, 102, 102);
}

.datepicker__current-year {
    display: flex;
}

.datepicker__current-year-content {
    margin: 0 10px;
}

.datepicker__current-year-prev, .datepicker__current-year-next {
    cursor: pointer;
}

.datepicker__current-month {
    font-size: 0.8em;
}

.datepicker__days {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.datapicker__day {
    width: 30px;
    height: 30px;
    transition: ease 0.1s;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
    line-height: 30px;
    margin: 5px;
    cursor: pointer;
}

.datapicker__day:hover, .datapicker__day.active {
    background-color: rgb(43, 96, 243);
    color: #fff;
}

.feedback__textarea {
    margin-top: 25px;
    min-height: 100px;
    font-size: 0.9em;
    resize: vertical;
}

.feedback__textarea:focus + .feedback__label {
    opacity: 1;
}

.feedback__message {
    margin-top: 5px;
    height: 10px;
}

.feedback__message.success {
    color: rgb(50, 158, 50);
}

.feedback__message.error {
    color: rgb(238, 70, 70);
}