* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(102, 102, 102);
}

body {
    background: rgb(88,9,121);
    background: linear-gradient(90deg, rgba(88,9,121,1) 0%, rgba(72,0,255,1) 100%);
}

.container {
    max-width: 450px;
    margin: 10vh auto;
    background-color: rgb(250, 250, 250);
    padding: 50px 30px;
    box-sizing: content-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.title {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    border-bottom: 2px solid rgb(43, 96, 243);
    display: inline-block;
    letter-spacing: 2px;
}

.feedback__item {
    margin-top: 60px;
    position: relative;
}

.feedback__label {
    opacity: 0.7;
    font-size: 1.1em;
    position: absolute;
    transition: ease all 0.3s;
    top: 3px;
    left: 2px;
    pointer-events: none;
}

.feedback__icon {
    width: 42px;
    height: 42px;
    position: absolute;
    top: -10px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.feedback__icon svg {
    max-width: 22px;
    fill: rgb(102, 102, 102);
    transition: ease 0.3s;
}

.feedback__icon.active svg {
    fill: rgb(43, 96, 243);
} 

.feedback__input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(102, 102, 102);
    padding: 2px 35px 2px 2px;
    width: 100%;
    font-size: 1.2em;
    transition: ease 0.3s;
}

.feedback__input:focus {
    border-bottom: 1px solid rgb(43, 96, 243);
}

.feedback__input.active + .feedback__label {
    opacity: 1;
    font-size: 0.8em;
    top: -15px;
    left: 2px;
}